zenml[local]
minio
sqlalchemy_utils
pandas
numpy
scikit-learn==1.3.2
xgboost
lightgbm
mlflow
psycopg2-binary
sqlalchemy
fastapi
uvicorn
streamlit
python-multipart
opencv-python-headless
tqdm
pyarrow 
fastparquet
zenml[server]==0.94.2
boto3
ipykernel
jupyter  
seaborn
matplotlib
imbalanced-learn
s3fs
dash 
dash-bootstrap-components 
plotly  
requests
mlflow
xgboost
gTTS